<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    nt
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="../public/style.css">

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!--font awesome link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">


    <title>Admin Dashboard Panel</title>

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="../public/style.css">

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Admin Dashboard Panel</title>
</head>

<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="images/logo.png" alt="">
            </div>

            <span class="logo_name">Admin Portal</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li id="dashboard"><a href="#">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">Dashboard</span>
                    </a></li>
                
                <li id="analytics"><a href="#">
                        <i class="uil uil-chart"></i>
                        <span class="link-name">Users</span>
                    </a></li>
                <li id="messagebroadcast"><a href="#">
                        <i class="fa-regular fa-message"></i>
                        <span class="link-name">Message BroadCast</span>
                    </a></li>
                
            </ul>

            <ul class="logout-mode">
                <li><a href="/logout2">
                        <i class="uil uil-signout"></i>
                        <span class="link-name">Logout</span>
                    </a></li>

                

                    
                </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
           

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>

            <div>
                <i class="fa-regular fa-clock"></i>
                <span id="clock"></span>
            </div>

            <!--<img src="images/profile.jpg" alt="">-->
        </div>

        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Dashboard</span>
                </div>

                <div class="boxes">
                    <div class="box box1">
                        <i class="fa-regular fa-user"></i>
                        <span class="text">Users</span>
                        <span class="number">
                            <%=totalUsers.length%>
                        </span>
                    </div>
                    <div class="box box2">
                        <i class="fa-solid fa-person"></i>
                        <span class="text">Number of Logins</span>
                        <span class="number">
                            <%=logins%>
                        </span>
                    </div>
                    <div class="box box3">
                        <i class="fa-solid fa-people-group"></i>
                        <span class="text">Age Group(less than 25) : </span>
                        <span class="number"><%=ageGroups.group1%></span>
                    </div>
                    <div class="box box2">
                        <i class="fa-solid fa-people-group"></i>
                        <span class="text">Age Group(25-50) : </span>
                        <span class="number">
                            <%=ageGroups.group2%>
                        </span>
                    </div>
                    <div class="box box3">
                        <i class="fa-solid fa-people-group"></i>
                        <span class="text">Age Group(greater than 50)</span>
                        <span class="number">
                            <%=ageGroups.group3%>
                        </span>
                    </div>

                    <div class="box box1">
                        <i class="fa-solid fa-people-group"></i>
                        <span class="text">BMI(underweight)</span>
                        <span class="number">
                            <%=bmiRanges.underweight%>
                        </span>
                    </div>

                    <div class="box box3">
                        <i class="fa-solid fa-people-group"></i>
                        <span class="text">BMI(normal)</span>
                        <span class="number">
                            <%=bmiRanges.normal%>
                        </span>
                    </div>

                    <div class="box box1">
                        <i class="fa-solid fa-people-group"></i>
                        <span class="text">BMI(overweight)</span>
                        <span class="number">
                            <%=bmiRanges.overweight%>
                        </span>
                    </div>

                    <div class="box box2">
                        <i class="fa-solid fa-people-group"></i>
                        <span class="text">BMI(obese)</span>
                        <span class="number">
                            <%=bmiRanges.obese%>
                        </span>
                    </div>

                    <div class="box box3">
                        <form action="/admin/getuniquevisitors/" method="post">
                            <i class="fa-solid fa-people-group"></i>
                            <span class="text">Per Month Unique Users</span>
                            <input id="clock" name="admintime" style="visibility: hidden;"></input>
                            <span class="number"></span>
                            <button class="buttonuser">Get Data</button>
                            <span id="uniqueusers"></span>
                        </form>
                    </div>
                </div>
            </div>


        </div>

        <div class="activity">
            <div class="title">
                <i class="uil uil-clock-three"></i>
                <span class="text">User Details</span>
            </div>
            <div class="activity-data">
                <table>
                    <thead>
                        <tr>
                            <th class="names">Name</th>
                            <th class="email">Email</th>
                            <th class="joined">Phone No.</th>
                            <th class="type">Gender</th>
                            <th class="status">Referrals</th>
                            <th class="status">Height</th>
                            <th class="status">Weight</th>
                            <th class="status">Age</th>
                            <th class="Delete">Delete User</th>
                            <th class="Edit">Edit User</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% totalUsers.forEach((data)=> { %>
                            <tr>
                                <td class="names"><span class="data-title">
                                        <%= data.name %>
                                    </span></td>
                                <td class="email"><span class="data-title">
                                        <%= data.email %>
                                    </span></td>
                                <td class="joined"><span class="data-title">
                                        <%= data.phoneno %>
                                    </span></td>
                                <td class="type"><span class="data-title">
                                        <%= data.gender %>
                                    </span></td>
                                <td class="status"><span class="data-title">
                                        <%= data.refer %>
                                    </span></td>
                                <td class="status"><span class="data-title">
                                        <%= data.height %>
                                    </span></td>
                                <td class="status"><span class="data-title">
                                        <%= data.weight %>
                                    </span></td>
                                <td class="status"><span class="data-title">
                                        <%= data.age %>
                                    </span></td>
                                <td class="status"><span class="data-delete">
                                        <form method="post" action="/admin/<%=data.id %>?_method=DELETE">
                                            <button class="buttonuser" role="button">DELETE</button>
                                        </form>

                                </td>
                                <td class="status"><span class="data-edit">
                                        <form method="get" action="/admin/edituser/<%= data.id%>">
                                            <button class="buttonuser" role="button">Edit!</button>
                                        </form>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="messagebroadcastdiv">
            <form action="/whatsapp" method="post">
                <textarea name="msg"></textarea>
                <button type="submit">Submit Message</button>
            </form>
        </div>

    
    </section>

    <!--yaha se kaam-->



    <script src="../public/script.js"></script>
</body>

</html>